#goodreads-widget {
    font-family: georgia, serif;
    padding: 18px 0;
    overflow-x: hidden;
  }
  #goodreads-widget h1 {
    font-weight:normal;
    font-size: 16px;
    border-bottom: 1px solid #BBB596;
    margin-bottom: 0;
  }
  #goodreads-widget a {
    text-decoration: none;
    color: #0f8f9f;
  }
  iframe{
    background-color: #ffffff;
  }
  #goodreads-widget a:hover { text-decoration: underline; }
  #goodreads-widget a:active {
    color: #0f8f9f;
  }
  #gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
  }
  #goodreads-widget .gr_branding{
    text-decoration: none;
  }